<launch>

    <arg name="namespace" default="roadroller"/>
    <arg name="cmd_timeout" default="-1"/>
    <arg name="init_pose" default="-x 0 -y 0 -z 0"/>
    <!-- Configuration of roadroller which you would like to simulate.
            See roadroller_description for details. -->
    <arg name="config" default="$(optenv ROADROLLER_CONFIG full_configuration_roadroller_2)" />

    <group ns="$(arg namespace)">

        <!-- Load roadroller's description, controllers, and teleop nodes. -->
        <include file="$(find roadroller_description)/launch/description.launch">
            <arg name="config" value="$(arg config)" />
            <arg name="namespace" value="$(arg namespace)"/>
        </include>

        <include file="$(find roadroller_gazebo_control)/launch/control.launch">
            <arg name="namespace" value="$(arg namespace)"/>
        </include>

        <!-- <include file="$(find ridgeback_control)/launch/teleop.launch"> 
            <arg name="joystick" value="false"/>
        </include> -->

        <!-- Control the steering, axle, and shock absorber joints. -->
        <node name="roadroller_controller" pkg="roadroller_gazebo_control"
                type="roadroller_controller.py" output="screen">
            <param name="cmd_timeout" value="$(arg cmd_timeout)"/>
            <rosparam file="$(find roadroller_gazebo_control)/config/roadroller_ctrlr_params.yaml" command="load"/>
        </node>

        <!-- Spawn Roadroller -->
        <node name="urdf_spawner" pkg="gazebo_ros" type="spawn_model" output="screen"
                args="$(arg init_pose) -urdf -model $(arg namespace) -param robot_description"/>

        <!-- RViz -->  
        <!-- <node pkg="rviz" type="rviz" name="roadroller_rviz" respawn="false" output="screen" args="-d $(find roadroller_gazebo)/rviz/simulation.rviz" /> -->

    </group>

  </launch>