<launch>

  <arg name="namespace" default=""/>
  <arg name="config" default="$(optenv TRUCK_CONFIG empty)"/>

    <param name="robot_description"
      command="$(find truck_description)/scripts/env_run
                    $(find truck_description)/urdf/configs/$(arg config)
                    $(find xacro)/xacro $(find truck_description)/urdf/truck_real.urdf" />

    <node name="robot_state_publisher" pkg="robot_state_publisher" type="robot_state_publisher">
      <param name="tf_prefix" value="$(arg namespace)"/> 
    </node>

</launch>
